@page "/home"
@layout MainLayout
@attribute [Authorize]
@using MedsNotifier.Data.DataAccess
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
<h2 class="page-title">Home</h2>

<div class="basic-info">
    <p>Hey! You're on MedsNotifier main page!</p>
    <p>This service can help you to track and monitor the meds you take. Visit "Meds" page if you want to start a new course. The you can also check the info about 
    the meds you take.</p>
    <p>Go to "Settings" in order to change the information about yourself.</p>
</div>

@code { 

}
