@page "/home"
@layout MainLayout
@attribute [Authorize]
@using MedsNotifier.Data.DataAccess
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager

<h3>Home</h3>



@code { 
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
}
