@page "/settings"
@layout MainLayout
@attribute [Authorize]
<h2 class="page-title">Account Settings</h2>

<div class="basic-info">
    <p>This feature hasn't been realised yet :(</p>
</div>

@code {

}
