<footer>
    <div class="left-block">
        Developed by Moltenessence <br />
        ©2022
    </div>
    <div class="right-block">
        Github: <a href="https://github.com/moltenessence">github.com/moltenessence</a>
    </div>
</footer>
