@inherits LayoutComponentBase
<div class="not-found">
    <span class="not-found-header">Not found:(</span> <br />
    <span class="not-found-description"> Ooops...Sorry, but the address wasn't found</span>
</div>
<Footer />
